.navbar-brand {
    font-weight: bold;
    font-family: courier;
}

body {
    background-color: #395B64;
}


.btn-primary {
    background-color: #FFFFFF;
    border-color: black;
    color : black;
}

.btn-primary:hover {
    background-color: #395B64;
    border-color: black;
}
